---
import { renderRichText } from '@storyblok/js';
const { blok } = Astro.props

console.log("section", blok)
const { title, description, descriptionColor, image, readMoreLabel, readMoreLink, otherLink, otherLinkLabel, backgroundColor, linkColor, titleColor, fontSizeTitle, fontSizeDescription, fontSizeSubtitle, fontSizeLink, subtitle } = blok

---

<!-- Elimina la clase de altura fija para que el contenedor se ajuste al contenido -->
<div style=`background-color: ${backgroundColor};` class="flex w-screen  flex-wrap justify-center">
    <div class="w-3xl h-full flex items-center justify-center">
        <img src={image.filename} alt={image.alt} class="max-w-full max-h-full object-cover rounded-lg shadow-lg" />
    </div>
    <div class="flex flex-col justify-center items-start p-12 w-3xl">
        { title && <h1 class="text-4xl mb-4" style={`color: ${titleColor}; font-size: ${fontSizeTitle};`}>{title}</h1> }
        {subtitle && <h2 class="text-2xl mb-4 italic" style={`color: ${titleColor}; font-size: ${fontSizeSubtitle};`}>{subtitle}</h2>}
        {description && (
            <div class="rich-text mb-8" style={`color: ${descriptionColor}; font-size: ${fontSizeDescription};`}>
                {(() => {
                    try {
                        const renderedRichText = renderRichText(description);
                        return <Fragment set:html={renderedRichText} />;
                    } catch (error) {
                        console.error("Error rendering rich text:", error);
                        return <p>{JSON.stringify(description)}</p>;
                    }
                })()}
            </div>
        )}
        {console.log("readMoreLink", readMoreLink)}
        <div class="flex flex-col space-y-4" style={`color: ${linkColor};`}>
            {readMoreLink.url.length > 0 && (
                <a href={readMoreLink.url} class="text-xl transition hover:text-under-400 hover:brightness-125">{readMoreLabel} ></a>
            )}
            {readMoreLink.cached_url.length > 0 && (
                <a href={readMoreLink.cached_url} class="text-xl transition hover:text-under-400 hover:brightness-125">{readMoreLabel} ></a>
            )}
            {otherLink.url.length > 0 && (
                <a href={otherLink.url} class="text-xl transition hover:text-under-400 hover:brightness-125">{otherLinkLabel} ></a>
            )}
        </div>
    </div>
</div>